.Header
  .Header__logo
    %h1 Pet Supplies Management
    %h2 〜 ペット用品の在庫管理 〜
.Contents
  .Contents__message
  = current_user.name
  = link_to "https://www.facebook.com/", class: "Contents__btn Contents__btn--Pet" do
    = icon('fas', 'dog',  class: "Contents__btn--icon")
    %span<>
    Pet
  = link_to "https://twitter.com/", class: "Contents__btn Contents__btn--twitter" do
    = icon('fas', 'cat', class: "Contents__btn--icon")
    %span<>
    Twitter
  = link_to edit_user_path(current_user), class: "Contents__btn Contents__btn--User" do
    = icon('fas', 'paw', class: "Contents__btn--icon")
    %span<>
    User