.Header
  .Header__logo
    %h1 Pet Supplies Management
    %h2 〜 ペット用品の在庫管理 〜
    
.Contents
  .Contents__top
    = current_user.name
    = image_tag "tare1.png", alt: "ペット画像", class: "image", width: "100px", height: "90px"
    .menu
      = link_to "https://www.facebook.com/", class: "menu__btn" do
        = icon('fas', 'dog',  class: "menu__btn--icon")
        %span<>
        Pet
      = link_to edit_user_path(current_user), class: "menu__btn" do
        = icon('fas', 'user', class: "menu__btn--icon")
        %span<>
        User
      = link_to "https://www.facebook.com/", class: "menu__btn" do
        = icon('fas', 'paw',  class: "menu__btn--icon")
        %span<>
        stock
      = link_to edit_user_path(current_user), class: "menu__btn" do
        = icon('fas', 'user-friends', class: "menu__btn--icon")
        %span<>
        community


  .Contents__stock
    stocks
    .Contact
      %form.Contact__form
        %input.name_form{placeholder: "nick name", type: "text"}/
        %textarea.message_form{name: "message", placeholder: "message（商品情報交換など！）"}
        %input.send{type: "submit", value: "SEND"}/
