.Header
  .Header__logo
    Pet Supplies Management
.Contents
  .Contents__message
    follow me!
  = link_to "https://www.facebook.com/", class: "Contents__btn Contents__btn--facebook" do
    = icon('fas', 'dog',  class: "Contents__btn--icon")
    %span<>
    Pet
  = link_to "https://twitter.com/", class: "Contents__btn Contents__btn--twitter" do
    = icon('fas', 'cat', class: "Contents__btn--icon")
    %span<>
    Twitter
  = link_to "https://www.instagram.com/", class: "Contents__btn Contents__btn--instagram" do
    = icon('fas', 'paw', class: "Contents__btn--icon")
    %span<>
    Stock